<%- include("partials/header"); -%>

<a class="btn btn-primary" href="/add_student" role="button">Add Student</a>
<table class="table">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Faculty</th>
    <th scope="col">Course</th>
    <th scope="col">Group</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <%  students.forEach(function(student){ %>
  <tr>        
    <td><%= student.name %></td>
    <td><%= student.faculty %></td>
    <td><%= student.course %></td>
    <td><%= student.group %></td>
    <td>
      <a class="btn btn-danger" href="add_student/delete/<%= student._id %>">Delete</a>   
    </td>
  </tr>
  <% }) %>
</tbody>
</table>



<%- include("partials/footer"); -%>
