<%- include("partials/header"); -%>

<a class="btn btn-primary" href="/add_student" role="button">Add Student</a>
<table class="table">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Faculty</th>
    <th scope="col">Course</th>
    <th scope="col">Group</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <%  students.forEach(function(student){ %>
  <tr>        
    <td><%= student.name %></td>
    <td><%= student.faculty %></td>
    <td><%= student.course %></td>
    <td><%= student.group %></td>
    <td>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
      Delete
    </button>
    </td>
  </tr>
  
  <!-- The Modal -->
  <div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Are you sure ?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>     

        <!-- Modal footer -->
        <div class="modal-footer">
          <a class="btn btn-danger" href="add_student/delete/<%= student._id %>" data-bs-dismiss="modal">Delete</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancel </button>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer"); -%>
  <% }) %>
</tbody>
</table>


